body {
    background-color: rgb(41, 43, 40);
}

body {
        background: linear-gradient(to right, #ff7e5f, #feb47b);
        image-rendering:auto       
        }

p{
    text-align: center;
    font-size: 20px;
    color: rgb(83, 81, 81);
}

input[type="text"] {
    border: 1px solid blue;
}

b {
    text-decoration-color:aquamarine;
}
th {
    text-decoration-color: brown;
}