body {
    background-color: rgb(41, 43, 40);
}

body {
        background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradiente do laranja ao rosa */
      }

p{
    text-align: center;
    font-size: 20px;
    color: rgb(83, 81, 81);
}

title {
    font-style: oblique;
}